.btnes{
    background-color: #363638;
    display: flex;
    justify-content: center;
    margin-bottom: 8px
}

.details{
    display: flex;
    background-color: #045B8F;
    color: #fff;
    justify-content: center;
}

.det{
    text-align: center;
    background-color: #fff;
    margin-bottom:5px;
    margin-top:5px;
    font-size: 18px;
}