/* .main {
  Ubicación de la imagen
  background-image:  url("../src/assets/images/Fondo-web3.jpg"); 
  
  Para dejar la imagen de fondo centrada, vertical y horizontalmente
  background-position: center center;
  
  Para que la imagen de fondo no se repita
  background-repeat: no-repeat;
  
  La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido
  background-attachment: fixed;
  
  La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador
  background-size: cover;
  
  Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla
  background-color: #363838;

  position : absolute;
	width : 100%;
	height : 100%;
  margin: 0;
  } */

  





 /*.App {
  margin: 0;
  padding: 0;
  background-color: #000;
  height: auto;
  width: 100%;
  background-size: 100%;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
