.fondo{
    background-color: #363638;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: space-between
}

.iconos{
    font-size:38px;
    margin:6px
}

.icon{
    color: white;
    text-align: right;
    width: 55%;
}

.by{
    display: flex;
    align-items: center;
}

.links{
    color: #fff;
    pointer-events: all;
}