.contenedorBtn{
    display: flex;
}

.btn{
    pointer-events:all;
    width: 110px;
    height: 25px;
    margin: 5px 20px;
    background-color: #5c5c5e;
    color: #fff;
    border-radius: 8px;
}

.btn:hover{
    background-color: #045B8F;
}

.aaa{
    margin: auto;
    pointer-events: all;
}

.ulli{
    display: flex;
}

.link{
    list-style: none;
    color: #fff;
    margin:auto 16px;
    padding: 2px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    pointer-events:all;
}


