.contenedorCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    /* background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/35811wide.jpg'); */
    /* background-image: url('https://wallpaperaccess.com/full/280862.jpg'); */
    /* background-image: url('https://images.unsplash.com/photo-1602947605863-d464e14f06ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWJzdHJhY3QlMjBsaWdodHxlbnwwfHwwfHw%3D&w=1000&q=80'); */
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/072/754/original/white-geometric-background-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  

}

.loading{
    position: relative;
    left: 98%
}