.container{
    display: flex;
    justify-content: space-between;
    background: rgb(54,54,56);
background: linear-gradient(342deg, rgba(54,54,56,1) 20%, rgba(168,37,37,1) 50%, rgba(54,54,56,1) 80%);
}

.navegacion{
    /* background-color: #363638; */
    
}

.navegacion ul{
    display: flex;
    text-decoration: none;
    padding: 20px
}
.navegacion ul lo{
    background-image: linear-gradient(to right, #a82525 20%, #353333  51%, #a82525  100%)  
}
.navegacion ul lo{
    margin: 5px 20px;
    width:160px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    pointer-events:all;
}

.navegacion ul lo:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: white;
}

.img{
    width: 80px;
    height:80px;
    margin: 0.3% 0 0 20px;
    border-radius: 40%;
}

.parrafo{
    color: #fff;
    margin: 28px 0 7px 14px;
    font-size: 1.5rem;
    text-shadow: 0 0 20px #eee ;

}